<template>
  <div class="checkSafety">
    <div>
      <div class="warn"><i class="fas fa-exclamation-triangle"></i></div>
      <h2>This is website has been reported as unsafe.</h2>
      <div class="visit-or-not">
        <button @click="visit">Keep Going</button>
        <button @click="dontVisit">Back to Safety</button>
      </div>
    </div>
  </div>
</template>

<script>
var axios = require('axios');

export default {
  name: 'checkSafety',
  props: {
    url: {
      type: String
    }
  },
  methods: {
    // if user choose to keep going
    visit() {
      window.location = this.url;
    },
    // if user choose to not going
    dontVisit() {
      window.location = "https://rhinoshield.tw/";
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit SASS to this component only -->
<style lang="scss">
  .checkSafety {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .warn {
      font-size: 150px;
    }
    .visit-or-not {
      display: flex;
      justify-content: space-around;

      button {
        font-size: 20px;
        font-weight: bold;
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }

</style>
