<template>
  <div class="information">
      <button class="convert home" @click="$emit('showInfo', false)"><i class="fas fa-home"></i></button>
      <button class="convert home redraw" @click="drew = false;country = ''; count = ''"><i class="fas fa-undo-alt"></i></button>
      <input class="original-url" placeholder="請輸入欲查詢網址自訂名" v-model="name">
      <button class="convert" @click="getInfo(name)"><i class="fab fa-apple"></i></button>
      <input class="original-url" placeholder="請輸入欲查詢的標籤" v-model="tags">
      <button class="convert" @click="getInfoFromTags(tags)"><i class="fas fa-apple-alt"></i></button>

      <div class="amount" v-if="count !== ''" >Total Click Counts: {{ count }}</div>
      <div class="drop-down-group">
        <ul class="drop-down-menu" v-if="country === 'Taiwan'">
          <li><span>中文tag<i class="fas fa-angle-down"></i></span>
            <ul class="drop-down-inside tag">
              <li v-for="tag in sortChTags" :key="tag" class="drop-url" @click="changeCondition(tag)">{{ tag }}</li>
            </ul>
          </li>
        </ul>
        <ul class="drop-down-menu" v-if="country === 'United State'">
          <li><span>英文tag<i class="fas fa-angle-down"></i></span>
            <ul class="drop-down-inside tag">
              <li v-for="tag in sortEnTags" :key="tag" class="drop-url" @click="changeCondition(tag)">{{ tag }}</li>
            </ul>
          </li>
        </ul>
        <ul class="drop-down-menu" v-if="country === 'France'">
          <li><span>FR tag<i class="fas fa-angle-down"></i></span>
            <ul class="drop-down-inside tag">
              <li v-for="tag in sortFrTags" :key="tag" class="drop-url" @click="changeCondition(tag)">{{ tag }}</li>
            </ul>
          </li>
        </ul>
        <ul class="drop-down-menu" v-if="country === 'Germany'">
          <li><span>DE tag<i class="fas fa-angle-down"></i></span>
            <ul class="drop-down-inside tag">
              <li v-for="tag in sortDeTags" :key="tag" class="drop-url" @click="changeCondition(tag)">{{ tag }}</li>
            </ul>
          </li>
        </ul>
        <ul class="drop-down-menu">
          <li><span>選取資料<i class="fas fa-angle-down"></i></span>
            <ul v-if="link.length > 0">
              <li v-if="link.length > 1 && tags !== ''" class="drop-url" @click="getInfoFromTags(tags)">All</li>
              <li v-if="link.length > 1 && name !== ''" class="drop-url" @click="getInfo(name)">All</li>
              <li v-for="url in link" :key="url" class="drop-url" @click="getInfo(customizedName[url], 'single')">{{ customizedName[url] }} : {{ url }} <span class="hidden-url">{{ originUrls[url] }}</span></li>
            </ul>
          </li>
        </ul>
        <ul class="drop-down-menu">
          <li><span>選取時間<i class="fas fa-angle-down"></i></span>
            <ul v-if="sortTimes.length > 0">
              <li v-for="time in sortTimes" :key="time" class="drop-url" @click="reDrawTime(time)">{{ time }}</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="drawer_group" v-if="drew">
        <div class="drawer">
          <canvas id="device" width="100" height="100"></canvas>
        </div>
        <div class="drawer">
          <canvas id="browser" width="100" height="100"></canvas>
        </div>
        <div class="drawer">
          <canvas id="time" width="100" height="100"></canvas>
        </div>
      </div>
  </div>
</template>

<script>
var axios = require('axios');
var moment = require('moment');

export default {
  name: 'information',
  props: {
    country: {
      type: String
    }
  },
  data() {
    return {
      drew: false,
      url: '',
      tags: '',
      device: [],
      browser: [],
      time: [],
      count: '',
      link: [],
      sortChTags: [
        'IG',
        'FB',
        '限動上滑',
        '首頁連結',
        '私訊',
        '網紅',
        '新品',
        '互動',
        '活動',
        '廣告',
        '貼文',
        '官網部落格',
        '客服信件',
        '聯名設計',
        'PR(新聞稿)',
        'YouTube',
        'Twitter'
      ],
      sortEnTags: [
        'ig',
        'fb',
        'story-link',
        'ighome',
        'message',
        'influencer',
        'new-pro',
        'fan',
        'event',
        'ad',
        'post',
        'blog',
        'cs',
        'designer',
        'pr',
        'YT',
        'twitter'
      ],
      sortFrTags: [
        'IG',
        'FB',
        'Bio',
        'Story',
        'Entertainment',
        'Tech',
        'LifeStyle',
        'Sport',
        'Beauty',
        'Travel',
        'Photos',
        'Ad',
        'Googlead',
        'Web',
        'YTad',
        'YT'
      ],
      sortDeTags: [
        'Ad',
        'Googlead',
        'Web',
        'YTad',
        'YT',
        'IG',
        'FB',
        'Bio',
        'Story',
        'Entertainment',
        'Tech',
        'LifeStyle',
        'Sport',
        'Beauty',
        'Travel',
        'Photos',
        'Gaming',
        'ArtCollab',
        'Merch'
      ],
      sortTimes: [],
      tempSavingTime: [],
      customizedName: [],
      originUrls: [],
      info_link: '',
      originUrl: '',
      name: ''
    }
  },
  methods: {
    sortOutData(tempDevice, tempBrowser, tempTime){
      this.tempSavingTime = tempTime
      this.device[0] = tempDevice.filter(device => {
        return device.includes('iPhone')
      }).length
      this.device[1] = tempDevice.filter(device => {
        return device.includes('Android')
      }).length
      this.device[2] = tempDevice.filter(device => {
        return !device.includes('Android') && !device.includes('iPhone')
      }).length
      this.browser[0] = tempBrowser.filter(browser => {
        return browser.includes('Chrome') && !browser.includes('OPR')
      }).length
      this.browser[1] = tempBrowser.filter(browser => {
        return browser.includes('OPR')
      }).length
      this.browser[2] = tempBrowser.filter(browser => {
        return browser.includes('Safari') && !browser.includes('Chrome')
      }).length
      this.browser[3] = tempBrowser.filter(browser => {
        return browser.includes('IEMobile')
      }).length
      this.browser[4] = tempBrowser.filter(browser => {
        return browser.includes('Googlebot')
      }).length
      this.browser[5] = tempBrowser.length - this.browser.reduce((a,b)=>{
        return a+b
      })
      this.time[0] = tempTime.filter(time => {
        let uTime = moment().subtract(6, 'days').format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.time[1] = tempTime.filter(time => {
        let uTime = moment().subtract(5, 'days').format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.time[2] = tempTime.filter(time => {
        let uTime = moment().subtract(4, 'days').format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.time[3] = tempTime.filter(time => {
        let uTime = moment().subtract(3, 'days').format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.time[4] = tempTime.filter(time => {
        let uTime = moment().subtract(2, 'days').format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.time[5] = tempTime.filter(time => {
        let uTime = moment().subtract(1, 'days').format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.time[6] = tempTime.filter(time => {
        let uTime = moment().format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      tempTime.map(time => {
        let date = time.split(' ')[0]
        if (!this.sortTimes.includes(date)) this.sortTimes.push(date)
        return time
      })
      return
    },
    async getInfoFromTags(tags){
      this.drew = true
      this.originUrl = ''
      tags = tags.split(',')
      let count = 0
      let info = await axios({
        method: 'GET',
        url: '/api/statistics/tags',
        params: {
          'tags': tags,
          'country': this.country
        }
      })
      if (info.data.length === 0){
        swal.fire({
          text: 'No statistics data',
          timer: 1500,
          showConfirmButton: false,
          type: "error"
        })
        return
      }
      let tempDevice = [], tempBrowser = [], tempTime = [], tempUrl = []
      info.data.map(data => {
        count += data.length - 1
        data.map(info => {
          if (typeof(info) !== 'string' && info !== null){
            tempDevice.push(info.device)
            tempBrowser.push(info.browser)
            tempTime.push(info['click_time'])
          }
          else if(typeof(info) === 'string' && (info.includes('https://briefy.it') || info.includes('https://rhinoshield.co'))){
            tempUrl.push(info)
            this.info_link = info
          }
          else if(typeof(info) === 'string' && info.includes('https://')){
            this.originUrls[this.info_link] = info
          }
          else{
            if (info === null || info === '') {
              this.customizedName[this.info_link] = 'No Name'
            }
            else {
              this.customizedName[this.info_link] = info
            }
          }
          return info
        })
        return data
      })
      this.name = ''
      this.link = tempUrl
      this.count = count
      this.sortOutData(tempDevice, tempBrowser, tempTime)
      this.drawDeviceCanvas()
      this.drawBrowserCanvas()
      this.drawTimeCanvas()
    },
    async getInfo(name , renew){
      this.drew = true
      if (name === '') {
        window.swal.fire({
          text: 'You search nothing',
          timer: 1500,
          showConfirmButton: false,
          type: "info",
          width: 300
        })
        return
      }
      let info = await axios({
        method: 'GET',
        url: '/api/statistics',
        params: {
          'name': name,
          'country': this.country
        }
      })
      if (info.data === false){
        window.swal.fire({
          text: 'No statistics data',
          timer: 1500,
          showConfirmButton: false,
          type: "error"
        })
        return
      }
      let tempDevice = [], tempBrowser = [], tempTime = [], tempUrl=[], count = 0
      info.data.map(data => {
        count += data.length
        data.map(info => {
          if (typeof(info) !== 'string' && info !== null){
            tempDevice.push(info.device)
            tempBrowser.push(info.browser)
            tempTime.push(info['click_time'])
          }
          else if(typeof(info) === 'string' && (info.includes('https://briefy.it') || info.includes('https://rhinoshield.co'))){
            tempUrl.push(info)
            this.info_link = info
          }
          else if(typeof(info) === 'string' && info.includes('https://')){
            this.originUrls[this.info_link] = info
          }
          else{
            this.customizedName[this.info_link] = info
          }
          return info
        })
        return data
      })
      this.tags = ''
      this.link = renew === 'single' ? this.link : tempUrl
      this.count = count
      this.sortOutData(tempDevice, tempBrowser, tempTime)
      this.drawDeviceCanvas()
      this.drawBrowserCanvas()
      this.drawTimeCanvas()
    },
    drawBrowserCanvas(){
      var ctx = document.getElementById('browser').getContext('2d');
      new Chart(ctx, {
      // The type of chart we want to create
      type: 'pie',

      // The data for our dataset
      data: {
          labels: [
                'Chrome',
                'Opera',
                'Safari',
                'IE',
                'Robot',
                'Other'
          ],
          datasets: [{
              label: 'Browser',
              data: this.browser,
              backgroundColor: [
                'rgba(207, 0, 15, 0.4)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(200, 99, 154, 0.2)',
                'rgba(170, 68, 180, 0.2)',
                'rgba(87, 94, 87, 0.2)'
            ],
          }]
      },

      // Configuration options go here
      options: {
      }
      });
    },
    drawDeviceCanvas() {
      var ctx = document.getElementById('device').getContext('2d');
      new Chart(ctx, {
      // The type of chart we want to create
      type: 'pie',

      // The data for our dataset
      data: {
          labels: [
                'iPhone',
                'Android',
                'PC',
          ],
          datasets: [{
              label: 'Device',
              data: this.device,
              backgroundColor: [
                'rgba(207, 0, 15, 0.4)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
          }]
      },

      // Configuration options go here
      options: {
      }
      });
    },
    drawTimeCanvas(time) {
      var ctx = document.getElementById('time').getContext('2d');
      new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',
      // The data for our dataset
      data: {
          labels: time !== undefined ? [
                moment().set('year', time.format('YYYY')).set('months', time.format('MM')-1).set('date', time.format('DD')).subtract(6, 'days').format('YYYY-MM-DD'),
                moment().set('year', time.format('YYYY')).set('months', time.format('MM')-1).set('date', time.format('DD')).subtract(5, 'days').format('YYYY-MM-DD'),
                moment().set('year', time.format('YYYY')).set('months', time.format('MM')-1).set('date', time.format('DD')).subtract(4, 'days').format('YYYY-MM-DD'),
                moment().set('year', time.format('YYYY')).set('months', time.format('MM')-1).set('date', time.format('DD')).subtract(3, 'days').format('YYYY-MM-DD'),
                moment().set('year', time.format('YYYY')).set('months', time.format('MM')-1).set('date', time.format('DD')).subtract(2, 'days').format('YYYY-MM-DD'),
                moment().set('year', time.format('YYYY')).set('months', time.format('MM')-1).set('date', time.format('DD')).subtract(1, 'days').format('YYYY-MM-DD'),
                moment().set('year', time.format('YYYY')).set('months', time.format('MM')-1).set('date', time.format('DD')).format('YYYY-MM-DD')
          ]:
          [
                moment().subtract(6, 'days').format('YYYY-MM-DD'),
                moment().subtract(5, 'days').format('YYYY-MM-DD'),
                moment().subtract(4, 'days').format('YYYY-MM-DD'),
                moment().subtract(3, 'days').format('YYYY-MM-DD'),
                moment().subtract(2, 'days').format('YYYY-MM-DD'),
                moment().subtract(1, 'days').format('YYYY-MM-DD'),
                moment().format('YYYY-MM-DD')
          ],
          datasets: [{
              label: 'Time',
              data: this.time,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(99, 199, 231, 0.2)',
                'rgba(171, 99, 3, 0.2)',
                'rgba(11, 121, 215, 0.2)',
                'rgba(74, 231, 64, 0.2)',
            ],
          }]
      },

      // Configuration options go here
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
      });
    },
    changeCondition(tag){
      if (this.tags === '') this.tags += tag
      else this.tags += ','+tag
    },
    reDrawTime(time){
      let day = time.split('-')[2]
      let month = time.split('-')[1]
      let year = time.split('-')[0]
      this.time[0] = this.tempSavingTime.filter(time => {
        let uTime = moment().set('year', year).set('months', month-1).set('date', day).subtract(6, 'days').format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.time[1] = this.tempSavingTime.filter(time => {
        let uTime = moment().set('year', year).set('months', month-1).set('date', day).subtract(5, 'days').format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.time[2] = this.tempSavingTime.filter(time => {
        let uTime = moment().set('year', year).set('months', month-1).set('date', day).subtract(4, 'days').format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.time[3] = this.tempSavingTime.filter(time => {
        let uTime = moment().set('year', year).set('months', month-1).set('date', day).subtract(3, 'days').format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.time[4] = this.tempSavingTime.filter(time => {
        let uTime = moment().set('year', year).set('months', month-1).set('date', day).subtract(2, 'days').format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.time[5] = this.tempSavingTime.filter(time => {
        let uTime = moment().set('year', year).set('months', month-1).set('date', day).subtract(1, 'days').format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.time[6] = this.tempSavingTime.filter(time => {
        let uTime = moment().set('year', year).set('months', month-1).set('date', day).format('YYYY-MM-DD')
        return time.includes(uTime)
      }).length
      this.drawTimeCanvas(moment().set('year', year).set('months', month-1).set('date', day))
    }
  },

}
</script>

<!-- Add "scoped" attribute to limit SASS to this component only -->
<style lang="scss">
  .information {
    background-image: url('https://images.unsplash.com/photo-1562426989-4541523b4ab2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2800&q=80');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 95vh;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .show-origin {
    margin-left: 66px;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
    text-align: initial;
  }
  .drop-down-group {
    display: flex;
  }
  .drop-down-menu {
    border: transparent 1px solid;
    left: 0;
    text-align: initial;
    list-style: none;
    margin-bottom: 70px;
    font-weight: 600;

    .fas {
      margin-left:10px;
    }

    .drop-down-inside{
      display: none;
      flex-direction: row;
      flex-wrap: wrap;
      width: 244px;

      li {
        flex:auto;
        width: 120px;
      }
    }
    .drop-url {
      cursor: pointer;
    }

    .drop-url:hover {
      color: tomato;
      text-overflow: initial;
      .hidden-url{
        visibility: visible;
      }
    }

    ul {
      display: none;
      position: absolute;
      z-index: 10;
      left: -1px;
      top: 100%;
    }

    span:hover {
      color: tomato;
    }

    span{
      margin-left: 45px;
    }

    li {
      position: relative;
      white-space: nowrap;
      border: transparent 1px solid;
      margin-left: 30px;
      width: 200px;
      margin: 0 auto;

      .hidden-url{
        color: black;
        font-size: 12px;
        background-color: powderblue;
        text-overflow : ellipsis;
        overflow: hidden;
        display: block;
        text-align: center;
        line-height: 20px;
        padding: 0px 0px;
        visibility: hidden;
        position: absolute;
        margin-left: 60px;
        z-index: 1;
        height: 20px;
        margin-top: 0px;
      }

    }
    li:hover > ul {
      display: block;
      margin-left: 48px;
    }
    li:hover > .tag {
      display: flex;
      margin-left: 48px;
    }
  }
  .select-device{
    font-weight: 600;
    width: 300px;
    line-height: 30px;
    font-size: 17px;
    margin-left: 40%;
    margin-bottom: 50px;

    .selection{
      display: block;
      cursor: pointer;
      margin-top: 5px;
    }
    .selector:hover {
      color: tomato;
    }
  }
  .original-url {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 300px;
    height: 30px;
  }
  .convert {
    width: 36px;
    height: 36px;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 5px;
    border-radius: 36px;
    outline: none;
    background: linear-gradient(-45deg, #ffffff, #fac38a);
  }
  .home{
    background: linear-gradient(-45deg, #ffffff, #f9b07c);
    position: absolute;
    left: 50px;
    top: 65px;
  }
  .redraw{
    position: absolute;
    left: 120px;
    top: 65px;
  }
  .amount {
    font-size: 21px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .drawer_group {
    display: flex;
    background-color: ghostwhite;
  }
  .drawer {
    width: 500px;
    height: 500px;
    margin-left: 50px;
  }
</style>
