<template>
  <div class="redirectPage"></div>
</template>

<script>
export default {
  name: 'redirectPage',
  props: {
    url: {
      type: String
    }
  },
  created() {
    window.location = this.url;
  }

}
</script>