<template>
  <div class="shorten" id="shorten">
    <!-- before get safety code: enter original url -->
    <div class="background-setting">
      <button class="transform" @click="changeBackground('ship')"><i class="fas fa-ship"></i></button>
      <button class="transform" @click="changeBackground('anchor')"><i class="fas fa-anchor"></i></button>
      <button class="transform wall" @click="changeBackground('wall')"><i class="fas fa-cat"></i></button>
      <button class="transform mountain" @click="changeBackground('mountain')"><i class="fas fa-mountain"></i></button>
      <button class="transform coffee" @click="changeBackground('breakfast')"><i class="fas fa-coffee"></i></button>
      <button class="transform desk" @click="changeBackground('desk')"><i class="fas fa-couch"></i></button>
    </div>
    <div class="type-in-url" v-if="safe === null">
      <h3>Make a brief link</h3>
      <div class="enter-url">
        <input class="original-url" placeholder="input the validate url" v-model="url">
        <button class="convert short-button" @click="getShorten"><i class="fab fa-apple"></i></button>
      </div>
      <div class="result">
        <span>Tidy Url: </span>
        <div class="result-info" v-if="hashUrl !== ''">
          <span class="shortened-url" @click="clickShortenUrl">https://rhinoshield.co/{{ hashUrl }}</span>
          <i class="fas fa-clipboard" @click="copy"><span class="fastext">Click To Copy</span></i>
          <div class="tags-management">
            <i class="fas fa-pencil-ruler" id="manage-content" @click="inputTags('manage')"><span class="fastext">Click To manage tags</span></i>
            <i class="fas fa-share-square" id="saving-content" @click="inputTags('save')"><span class="fastext">Click To Save tags</span></i>
            <i class="fas fa-window-close" id="cancel-change" @click="inputTags('cancel')"><span class="fastext">Click To Cancel Changes</span></i>
            <input id="manage-tags" class="manage-tags" placeholder="以逗號隔開" v-model="extraTags">
            <input id="manage-name" class="manage-tags short" placeholder="網址名字(unique name)" v-model="customizedName">
            <div class="suggest-tags" id="suggest-tags">
              <ul>
                <li v-for="tag in sortTags[country]" :key="tag" @click="addTags(tag)">{{ tag }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="brief" id="brief">
        <div class="introduction">
          <i class="fas fa-balance-scale fa-2x" @click="$emit('showInfo', true)"></i>
          <div class="content">前往成效追蹤頁面</div>
        </div>
        <div class="introduction">
          <div class="content small"><i class="fas fa-question-circle fa-2x"></i>追蹤來源(裝置,瀏覽器)</div>
          <div class="content small"><i class="fas fa-water fa-2x"></i>點擊量(點擊次數,點擊時間)</div>
        </div>
        <div class="introduction">
          <div class="content small"><i class="fas fa-palette fa-2x"></i>自製需求(網址名,標籤)</div>
          <div class="content small less"><i class="fas fa-helicopter fa-2x"></i>根據標籤追蹤流量</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
var axios = require('axios');

export default {
  name: 'shorten',
  props: {
    country: {
      type: String
    }
  },
  data() {
    return {
      'url': '',
      'hashUrl': '',
      'safe': null,
      'extraTags': '',
      'customizedName': '',
      'sortTags': {
        'Taiwan': [
          'IG','FB','限動上滑','首頁連結','私訊','網紅','新品',
          '互動','活動','廣告','貼文','官網部落格','客服信件','聯名設計',
          'PR(新聞稿)','YouTube','Twitter'
        ],
        'United State': [
          'ig','fb','story-link','ighome','message','influencer','new-pro',
          'fan','event','ad','post','blog','cs','designer','pr','YT','twitter'
        ],
        'France': [
          'IG','FB','Bio','Story','Entertainment','Tech','LifeStyle','Sport','Beauty',
          'Travel','Photos','Ad','Googlead','Web','YTad','YT'
        ],
        'Germany': [
          'Ad','Googlead','Web','YTad','YT','IG','FB','Bio','Story','Entertainment',
          'Tech','LifeStyle','Sport','Beauty','Travel','Photos','Gaming','ArtCollab',
          'Merch'
        ]
      },
      'imageGroup': {
        'ship': 'https://images.unsplash.com/photo-1562257675-8e706ed76840?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80',
        'anchor': 'https://images.unsplash.com/photo-1562433214-cee90407b33d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=802&q=80',
        'wall': 'https://images.unsplash.com/photo-1562321108-882a3b887636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80',
        'mountain': 'https://images.unsplash.com/photo-1562386130-926081dc4fbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80',
        'breakfast': 'https://images.unsplash.com/photo-1562376552-0d160a2f238d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80',
        'desk': 'https://images.unsplash.com/photo-1562325443-c93d4da60389?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=716&q=80'
      }
    }
  },
  methods: {
    // help function: check if url is valid
    validURL(str) {
      var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
        '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
        '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
        '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
      return !!pattern.test(str);
    },

    // get shortened url from server
    async getShorten() {
      let link = this.url;
      // check if url is a valid link
      let check_url_valid = this.validURL(link);
      if (!check_url_valid) {
        window.swal.fire("請輸入有效網址");
        return;
      }

      // transit url back to server => get hash link
      let query = link.split('?').length > 1 && link.split('?')[1].includes('utm_source') ? link.split('?')[1].split('&').filter(item => item.includes('utm')) : link.split('?')[0].split('&').filter(item => item.includes('utm'));
      let utm_data = query.length != 0 ? {
        'source': query.filter(t => t.includes('utm_source'))[0].replace('utm_source=', ''),
        'medium': query.filter(t => t.includes('utm_medium'))[0].replace('utm_medium=', ''),
        'campaign': query.filter(t => t.includes('utm_campaign'))[0].replace('utm_campaign=', ''),
        'term': query.filter(t => t.includes('utm_term')).length && query.filter(t => t.includes('utm_term'))[0].replace('utm_term=', '').replace('', '0'),
        'content': query.filter(t => t.includes('utm_content')).length && query.filter(t => t.includes('utm_content'))[0].replace('utm_content=', '').replace('', '0')
      } : {
        'source': '0',
        'medium': '0',
        'campaign': '0',
        'term': '0',
        'content': '0'
      }
      let hashTime = new Date().getTime().toString(36)
      let response = await axios({
        method: 'GET',
        url: '/api/shorten_url',
        params: {
          'url': link,
          'hash': hashTime,
          'source': utm_data.source,
          'medium': utm_data.medium,
          'campaign': utm_data.campaign,
          'term': utm_data.term,
          'content': utm_data.content,
        }
      })
      this.hashUrl = response.data.hash;
    },

    // store click information to database
    async storeClickInfo() {
      await axios({
        method: 'GET',
        url: '/api/store_click_info',
        params: {
          "hash": this.hashUrl
        }
      })
    },

    // get safety status from server => 0: safe, 1: unsafe
    async getSafetyCode() {
      let response = await axios({
        method: 'GET',
        url: '/api/get_security_code',
        params: {
          'url': this.url
        }
      })
      const safe = response.data.safe;
      this.safe = safe;
      if (safe) {
        this.visit();
      }
    },

    clickShortenUrl() {
        this.storeClickInfo();
        this.getSafetyCode();
    },

    // if user choose to keep going
    visit() {
      window.location = this.url;
    },

    // if user choose to not going
    dontVisit() {
      this.safe = null;
    },

    // copy shorten url
    copy() {
      let copyUrl = document.getElementsByClassName("shortened-url")[0].innerText;
      this.$copyText(copyUrl).then(() => {
        window.swal.fire({
          text: 'Copy to clipboard',
          timer: 1200,
          showConfirmButton: false,
          type: "success"
        })
      })
    },
    async inputTags(act){
      if (act === 'manage'){
        document.getElementById('manage-tags').style.display = 'initial'
        document.getElementById('manage-name').style.display = 'initial'
        document.getElementById('manage-content').style.display = 'none'
        document.getElementById('saving-content').style.display = 'initial'
        document.getElementById('cancel-change').style.display = 'initial'
        document.getElementById('suggest-tags').style.display = 'flex'
        document.getElementById('country-group').style.display = 'flex'
        document.getElementById('brief').style['margin-top'] = '85px'
        let { data } = await axios({
          method: 'GET',
          url: 'api/get/info',
          params: {
            'hash': this.hashUrl
          }
        })
        this.extraTags = data.tags
        this.customizedName = data['name']
      }
      else {
        if (act === 'save' && this.country !== ''){
          if (this.extraTags === '') this.extraTags += this.country
          else this.extraTags += ',' + this.country
          document.getElementById('manage-tags').style.display = 'none'
          document.getElementById('manage-name').style.display = 'none'
          document.getElementById('manage-content').style.display = 'initial'
          document.getElementById('saving-content').style.display = 'none'
          document.getElementById('cancel-change').style.display = 'none'
          document.getElementById('suggest-tags').style.display = 'none'
          document.getElementById('country-group').style.display = 'none'
          document.getElementById('brief').style['margin-top'] = '129px'
          axios({
            method: 'GET',
            url: '/api/store/info',
            params: {
              'hash': this.hashUrl,
              'tags': this.extraTags,
              'name': this.customizedName
            }
          })
          this.extraTags = ''
          this.customizedName = ''
        }
        if (act === 'save' && this.country === ''){
          window.swal.fire({
            text: 'Choose the country',
            timer: 1200,
            showConfirmButton: false,
            type: "info"
          })
        }
        if (act === 'cancel'){
          document.getElementById('manage-tags').style.display = 'none'
          document.getElementById('manage-name').style.display = 'none'
          document.getElementById('manage-content').style.display = 'initial'
          document.getElementById('saving-content').style.display = 'none'
          document.getElementById('cancel-change').style.display = 'none'
          document.getElementById('suggest-tags').style.display = 'none'
          document.getElementById('country-group').style.display = 'none'
          document.getElementById('brief').style['margin-top'] = '129px'
        }
      }
    },
    addTags(tag){
      if (this.extraTags === '') this.extraTags += tag
      else this.extraTags += ',' + tag
    },
    changeBackground(selection){
      document.getElementById('shorten').style.backgroundImage = `url(${this.imageGroup[selection]})`;
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit SASS to this component only -->
<style lang="scss">
  ::placeholder {
    opacity: 1;
    font-weight: 600;
  }
  .shorten {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    // background: linear-gradient(45deg, #f5cb1d, #ff007d8c);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1562325443-c93d4da60389?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=716&q=80');
    color: black;

    .background-setting {
      text-align: initial;
      position: absolute;
      display: flex;
      left: 50px;
      top: 75px;

      .transform {
        width: 36px;
        height: 36px;
        font-size: 18px;
        margin-right: 20px;
        margin-left: 5px;
        border-radius: 36px;
        outline: none;
        background: linear-gradient(-45deg, #73bed3, #cbaeaf);
      }

      .wall {
        background: linear-gradient(-45deg, #bebec0, #cfd2d3);
      }
      .coffee {
        background: linear-gradient(-45deg, #be7413, #d9e0e2);
      }
      .desk {
        background: linear-gradient(-45deg, #94453e, #d9e0e2);
      }
      .mountain {
        background: linear-gradient(-45deg, #3a5b50, #d9e0e2);
      }
    }


    .type-in-url {
      border-style: hidden;
      margin-top: 75px;
      .brief {
        margin-top: 129px;
        width : 560px;
        height: 500px;
        background-color: #1d2029;

        .introduction {
          width: 560px;
          height: 166px;
          display: flex;
          background-color: gainsboro;
          margin-bottom: 1px;

          .content {
            font-size: 20px;
            margin-top: 70px;
            margin-left: 15px;
          }

          .small{
            margin-top: 0px;
            font-size: 15px;
            margin-left: 0px;
            height: 166px;
            border-right: darkolivegreen 1px solid;
            width: 279px;

            .fas {
              margin-left: 15px;
              margin-right: 10px;
            }
          }

          .less{
            text-align: initial;

            .fas {
              margin-left: 33px;
            }
          }

          .fas{
            margin-left: 180px;
            margin-top: 65px;
            cursor: pointer;
          }
          .fab {
            margin-left: 180px;
            margin-top: 65px;
            cursor: pointer;
          }
        }
      }
      .original-url {
        padding: 10px 0;
        font-size: 15px;
        overflow: hidden;
        text-indent: 10px;
      }
      .short-button{
        background: linear-gradient(-45deg, #73bed3, #cbaeaf);
      }
      .convert {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-top: -1px;
        border-radius: 10px;
        &:hover {
          background-color: black;
          color: #93453c;
          cursor: pointer;
        }
      }
      .result {
        font-weight: bold;
        margin-top: 15px;
        text-align: left;
        display: flex;

        .shortened-url:hover {
          color: tomato;
          border-bottom: 1px solid tomato;
          cursor: pointer;
        }

        .result-info{
          margin-left: 10px;

          .tags-management{
            margin-left: -105px;
            margin-top: 15px;

            .country-group {
              display: none;
            }

            .suggest-tags{
              width: 555px;
              height: 100px;
              margin-left: 15px;
              margin-top: 15px;
              display: none;

              ul{
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
              }
              li{
                margin: 0;
                padding: 0;
                list-style: none;
                flex: auto;
                text-align: center;
                margin-top: 3px;
                margin-bottom: 3px;
                margin-left: 3px;
                border: transparent 1px solid;
                font-size: 20px;
                cursor: pointer;
              }
              li:hover{
                color: #1b4781;
              }
            }
          }
          .manage-tags{
            margin-left: 15px;
            width: 235px;
            height: 18px;
            display: none;
          }

          #saving-content{
            display: none;
          }
          #cancel-change{
            display: none;
          }
        }
        button {
          border-radius: 15px;
          margin-left: 10px;

        }

        .copy {
          width: 35px;
          height: 35px;
          margin-left: 30px;
        }

        .fas {
          cursor: pointer;
          margin-left: 15px;
          position: relative;
          display: inline-block;

          .fastext {
            color: white;
            font-size: 10px;
            background-color: gray;
            text-align: center;
            padding: 10px 10px;
            visibility: hidden;
            position: absolute;
            margin-left: 10px;
            z-index: 1;
            width: 90px;
            border-radius: 30%;
            margin-top: -7px;
          }
        }

        .fas:hover {
          cursor: pointer;
          margin-left: 15px;
          color: #1b4781;

          .fastext {
            visibility: visible;
          }
        }
      }
    }

    .check-safety {
      .warn {
        font-size: 150px;
      }
      .visit-or-not {
        display: flex;
        justify-content: space-around;

        button {
          font-size: 20px;
          font-weight: bold;
          padding: 5px;
          border: 2px solid black;
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }

    @media only screen and (min-width: 600px) {
      .type-in-url {
        .original-url {
          border-color: cornflowerblue;
          width: 500px;
          height: 30px;
          padding: 0;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      .type-in-url {
        .original-url {
          border-color: cornflowerblue ;
          width: 50%;
        }
        .result {
          display: flex;
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }

</style>
