<template>
  <div id="app">
    <div class="loading" v-if=" loading === true && url !== null">Loading...</div>

    <header v-if=" url !== '' && loading !== true && safe === null">
      <div class="logo" @click="randomPoem"><img src="@/assets/rhinoshied2.png" alt="logo"></div>
      <div class="title" @click="showInfo">Briefy It</div>
      <div class="country-group-info" id="country-group">
        <div class="country taiwan" @click="selectCountry('Taiwan')"></div>
        <div class="country us" @click="selectCountry('United State')"></div>
        <div class="country france" @click="selectCountry('France')"></div>
        <div class="country germany" @click="selectCountry('Germany')"></div>
      </div>
    </header>
    <shorten v-if=" url === null && !info && loading !== true" @showInfo="showInfo" :country="country"/>
    <checkSafety v-if=" safe === false && !info && loading !== true" :url="url"/>
    <redirectPage v-if=" safe === true && !info && loading !== true" :url="url"/>
    <information v-if="info === true && loading !== true" @showInfo="showInfo" :country="country"/>
  </div>
</template>

<script>
import axios from 'axios';
import shorten from './components/shorten';
import checkSafety from './components/checkSafety';
import redirectPage from './components/redirectPage';
import information from './components/information';

export default {
  name: 'app',
  components: {
    shorten,
    checkSafety,
    redirectPage,
    information
  },
  async created () {
    let url = window.location.href;
    let hash = url.split('/').length == 4 ? url.split('/')[3] : '';
    let response = await axios({
      method: 'GET',
      url: '/api/get_url_info',
      params: {
        'hash': hash
      }
    })
    this.url = response.data.url;
    this.safe = response.data.safe;

    if (response.data.url === null || response.data.url === '') {
      await window.swal.fire({
        title: 'Authentication！',
        text: 'Enter the password',
        input: 'password'
      }).then(value => {
        if (!value || value.value !== 'rhino5hield') {
          this.loading = true
          return
        }
        else {
          this.loading = false
          return
        }
      })
      if (this.loading) return
    }
    else{
      this.loading = false
    }
  },
  data() {
    return {
      url: null,
      safe: '',
      info: false,
      loading: true,
      country: ''
    }
  },
  methods: {
    showInfo(){
      this.info = !this.info
    },
    randomPoem(){
      const poems = require('./config/poem')
      let num = Math.floor(Math.random() * poems.poems.length)
      let select = poems.poems[num]
      swal.fire({
        title: select.title,
        text: select.text,
        width: select.width,
        type: "info"
      })
    },
    selectCountry(country){
      this.country = country
      swal.fire({
        text: `Select ${country} Data`,
        timer: 1600,
        showConfirmButton: false,
        type: "success"
      })
    }
  }
}
</script>

<style lang="scss">
  .swal2-title {
    font-size: 21px !important;
  }

  input {
    text-indent: 7px;
    outline: none;
  }

  body {
    margin: 0;

    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      position: relative;
      height: 100%;



      .loading {
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,50%);
      }

      header {
        background-color: black;
        color: white;
        line-height: 45px;
        display: flex;

        .title {
          font-weight: bold;
          font-size: 30px;
          margin-left: 20px;
          line-height: 50px;
        }
        .logo {
          height: 45px;
          width: 50px;
          margin-left: 50px;
          margin-top: 3px;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  .country-group-info{
    position: absolute;
    left: 250px;
    top: 0px;

    .country{
      width: 25px;
      height: 25px;
      margin-top: 15px;
      display: inline-flex;
      cursor: pointer;
      margin-left: 45px;
    }
    .taiwan {
      background-image: url('https://image.flaticon.com/icons/svg/206/206650.svg');
    }
    .us {
      background-image: url('https://image.flaticon.com/icons/svg/206/206626.svg');
    }
    .france {
      background-image: url('https://image.flaticon.com/icons/svg/206/206657.svg');
    }
    .germany {
      background-image: url('https://image.flaticon.com/icons/svg/206/206690.svg');
    }
  }
</style>
